@use '../../scss/mixins';
@import "../../scss/variables";

.modalHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  & div {
    display: flex;
    align-items: center;

    & p {
      margin-right: 10px;
    }
  }
}

.addNewCustomerContent {
  padding: 32px;

  & h2 {
    color: $primaryDark;
    margin-bottom: 16px;
  }

  & form {
    display: flex;
    flex-wrap: wrap;
  }
}

.inputWrapper {
  @include mixins.inputWrapper;
}

textarea {
  outline: none;
  resize: none;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  border: unset;
  width: 500px;
  height: 270px;
  padding: 1rem;
  margin-top: 7px;
}

.noteAndSubmit {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  & button {
    @include mixins.buttonCreate;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .slider {
    background-color: $primaryColor;
  }

  &:focus + .slider {
    box-shadow: 0 0 1px $primaryColor;
  }

  &:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;

  & img {
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    transition: all 200ms ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.customerNoteContent {
  max-height: 53px;
  overflow: hidden;
  padding: 10px;
  margin-top: 16px;
  border-radius: 7px;
  border: unset;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  @include mixins.disableSelectText;
  transition: all 400ms ease-in;

  & div {
    cursor: pointer;
    color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    &:hover {
      color: $primaryDark;
    }
  }

  &.expandedCustomer {
    max-height: 520px;
    transition: all 400ms ease-in;
  }
}

.notesWrapper {
  padding: 16px;
  border: 1px solid $greyColor;
  border-radius: 7px;
}

.isPaidContent {
  position: relative;
  margin-left: 10px;
  font-size: 1.1rem;
  width: 300px;
  margin-bottom: 2rem;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: $lightColor;
  border: 1px solid $primaryDark;
}

.isPaidContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.isPaidContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.isPaidContainer:hover input ~ .checkmark {
  background-color: $lightColor;
  border: 1px solid $primaryDark;
}

.isPaidContainer input:checked ~ .checkmark {
  background-color: $primaryDark;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.isPaidContainer input:checked ~ .checkmark:after {
  display: block;
}

.isPaidContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 2px;
  height: 7px;
  border: solid $lightColor;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.disabledSpan {
  pointer-events: none;

  & span {
    background: #f7f6f6;
  }
}
