@use '../../scss/mixins';
@import "../../scss/variables";

.modalHeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  & div {
    display: flex;
    align-items: center;

    & p {
      margin-right: 10px;
    }
  }
}

.addNewCustomerContent {
  padding: 32px;

  & h2 {
    color: $primaryDark;
    margin-bottom: 16px;
  }

  & form {
    display: flex;
    flex-wrap: wrap;
  }
}

.inputWrapper {
  @include mixins.inputWrapper;
}

textarea {
  outline: none;
  resize: none;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  border: unset;
  width: 500px;
  height: 270px;
  padding: 1rem;
  margin-top: 7px;
}

.noteAndSubmit {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  & button {
    @include mixins.buttonCreate;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .slider {
    background-color: $primaryColor;
  }

  &:focus + .slider {
    box-shadow: 0 0 1px $primaryColor;
  }

  &:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  margin-bottom: 16px;
}

.notesContent {
  max-height: 190px;
  height: 190px;
  overflow: auto;
  padding-right: 16px;
  margin-bottom: 16px;
  line-height: 1.3rem;

  & > div {
    padding-bottom: 16px;

    & .divider {
      border-bottom: 1px solid $greyColor;
      text-align: center;
      padding-bottom: 3px;
      margin-bottom: 10px;
      color: grey;
    }

    &:not(:first-child) {
      margin: 16px 0;
    }

    & div:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
    }

    & div {
      margin-bottom: 8px;
      color: $primaryColor;
    }
  }
}

.textareaNewNote {
  height: 75px;
  margin-right: 16px;
  margin-top: 0;
}

.notesWrapper {
  padding: 0 0 16px 10px;
  max-width: 545px;

  & > div:nth-of-type(2) {
    padding: 16px 0 16px 16px;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
  }
}

.isPaidContent {
  position: relative;
  margin-left: 10px;
  font-size: 1.1rem;
  width: 73px;
  margin-bottom: 2rem;
}

.disabledSpan {
  pointer-events: none;
}

.calendarInputWrapper {
  @include mixins.calendarInput;

  & div {
    top: 10px;

    & img {
      right: 16px;
    }

    & input {
      right: 18px;
    }
  }
}

.checkbox {
  width: 50px;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    display: none;
  }

  & span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 2px solid $primaryDark;
    cursor: pointer;
    transition: 0.275s;
  }

  & input:checked ~ span {
    rotate: 45deg;
    translate: -5px 0px;
    width: 10px;
    border-color: $primaryColor;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
  }
}
