@import '../../../scss/variables';

.modal {
  position: fixed;
  top: 10vh;
  background-color: $whiteBackground;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 130;
  animation: slide-down 300ms ease-out forwards;
  width: 80rem;
  left: calc(50% - 40rem);
  max-height: 80vh;
  overflow: auto;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
