@use "../../../scss/mixins";

.cityInputContent {
  position: relative;
}

.inputField {
  @include mixins.inputField;
  margin-bottom: 5px;
}

.autocompleteContent {
  position: absolute;
  top: 80px;
  width: 100%;
  max-height: 170px;
  padding: 10px 0;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  overflow: auto;
  @include mixins.disableSelectText;

  & p {
    cursor: pointer;
    padding: 5px 15px;
    font-size: 1rem;
    transition: all 200ms ease-out;

    &:hover {
      transition: all 200ms ease-in;
      background-color: #cccccc;
    }
  }
}
