@import "./variables";

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin iconBg {
  background-color: transparent;
}

@mixin errorBorder {
  border-bottom: 1px solid $danger;
}

@mixin pageAnimation {
  animation: page-animation 0.2s ease-in;
}

@keyframes page-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin programTaskBarButton {
  border: unset;
  padding: 3px 10px;
  font-size: 0.9rem;
  transition: all 0.2s ease;

  &:hover {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.1);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@mixin truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin tableDataTableHead {
  background-color: transparent;
  color: #333333;
  text-align: left;
  padding: 8px;

  &:not(:first-child) {
    border-left: 1px solid #cccccc;
  }
}

@mixin disableSelectText {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin inputField {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  height: 3rem;
  padding: 1.1rem 2rem;
  border-radius: 12px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 1px solid $greyColor;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  color: $darkColor;
  @include outlineInput;
}

@mixin inputWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  & label {
    margin-left: 10px;
    font-size: 1.1rem;
  }

  & input {
    width: 300px;
    margin-top: 7px;
  }
}

@mixin outlineInput {
  &:active, &:focus, &:hover {
    outline: 0;
    -webkit-appearance: none;
  }
}

@mixin disableIcon {
  pointer-events: none;
  cursor: alias;
  fill: #cccccc;
}

@mixin memberModalContent {
  border: 1px solid;
  border-radius: 4px;
  padding: 16px;

  & h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }
}

@mixin modalSaveButton {
  border: unset;
  padding: 10px 35px;
  border-radius: 4px;
  font-size: 1.2rem;
  opacity: 0.9;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 16px;
  right: 16px;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@mixin buttonCreate {
  border: 1px solid transparent;
  padding: 10px 30px;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: $primaryColor;
  color: $lightColor;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  transition: all 200ms ease;

  &[disabled] {
    pointer-events: none;
    opacity: 0.6;
    @include disableSelectText
  }

  &:hover {
    background-color: $lightColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }
}

@mixin calendarInput {
  position: relative;

  & div {
    position: absolute;
    top: 17px;
    width: 100%;

    & img {
      position: absolute;
      right: 28px;
      width: 25px;
      top: 5px;
    }

    & input {
      position: absolute;
      top: 7px;
      margin: 0;
      width: 22px;
      right: 29px;
      opacity: 0;

      &[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }
    }
  }
}
