$primaryColor: #20b79d;
$primaryDark: #2d6b6d;

$lightColor: #ffffff;
$greyColor: #e3e3e3;
$darkColor: #333333;
$backgroundColor: #f7f7f7;


$danger: #db4a4a;

$defaultFontSize: 14px;
$browserIconColor: #3eff76;
$newsIconColor: #ee802f;

$whiteBackground: #ffffff;

