$primaryColor: #f72664;

$lightColor: #ffffff;
$greyColor: #cccccc;
$darkColor: #333333;


$danger: #db4a4a;

$defaultFontSize: 14px;
$browserIconColor: #3eff76;
$newsIconColor: #ee802f;

$whiteBackground: #ffffff;

